/*
    Author : Ajay Kumar;
    email  : ajaybelduha@gmail.com;
    rights : Upswale.com. all right reserved.;

    COLOR CODES
    Yellow: #ffdb3e
    Blue  : #091633
    Blue l: #064594
    Brown : #450003

*/

html,
body {
    scroll-behavior: smooth;
}

body * {
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    height: 5px;
}

div::-webkit-scrollbar {
    width: 3px;
}

.bg-theme,
.bg-theme a {
    background: #450003;
    color: #ffffff;
}

.bg-theme-blue,
.bg-theme-blue a {
    background: #091633;
    color: #ffffff;
}

.bg-theme-yellow {
    background: #f5e07f;
    color: #450003;
}

.bg-theme-text {
    color: #450003 !important;
}

.bg-theme-blue-text {
    color: #091633 !important;
}

.font-12 {
    font-size: 13px;
}

.font-500 {
    font-weight: 500;
}

.flip-180 {
    transform: rotate(90deg);
}

.hidden {
    display: none;
    height: 0px;
    width: 0px;
    opacity: 0;
    visibility: hidden;
}

.bg-paper {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='398' height='398' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23050c1d'/%3E%3Cstop offset='1' stop-color='%2308142d'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%238f8f8f'/%3E%3Cstop offset='0.09' stop-color='%23b3b3b3'/%3E%3Cstop offset='0.18' stop-color='%23c9c9c9'/%3E%3Cstop offset='0.31' stop-color='%23dbdbdb'/%3E%3Cstop offset='0.44' stop-color='%23e8e8e8'/%3E%3Cstop offset='0.59' stop-color='%23f2f2f2'/%3E%3Cstop offset='0.75' stop-color='%23fafafa'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='0.16' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E") !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
}

.bg-triangle {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cpath fill='none' stroke-width='23.4' id='a' d='M0-478l-413.96 717h827.92L0-478l-413.96 717h827.92z'/%3E%3C/defs%3E%3Cg style='transform-origin:center'%3E%3Cg transform='rotate(105.6 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-68.8 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%23ffff00' href='%23a' transform='rotate(-34.4 0 0) scale(0.656)'/%3E%3Cuse stroke='%23fdf200' href='%23a' transform='rotate(-30.1 0 0) scale(0.699)'/%3E%3Cuse stroke='%23fbe400' href='%23a' transform='rotate(-25.8 0 0) scale(0.742)'/%3E%3Cuse stroke='%23f8d700' href='%23a' transform='rotate(-21.5 0 0) scale(0.785)'/%3E%3Cuse stroke='%23f4cb00' href='%23a' transform='rotate(-17.2 0 0) scale(0.828)'/%3E%3Cuse stroke='%23f0be00' href='%23a' transform='rotate(-12.9 0 0) scale(0.871)'/%3E%3Cuse stroke='%23ebb200' href='%23a' transform='rotate(-8.6 0 0) scale(0.914)'/%3E%3Cuse stroke='%23e5a500' href='%23a' transform='rotate(-4.3 0 0) scale(0.957)'/%3E%3Cuse stroke='%23df9900' href='%23a' transform=''/%3E%3Cuse stroke='%23d88e00' href='%23a' transform='rotate(4.3 0 0) scale(1.043)'/%3E%3Cuse stroke='%23d18200' href='%23a' transform='rotate(8.6 0 0) scale(1.086)'/%3E%3Cuse stroke='%23c97704' href='%23a' transform='rotate(12.9 0 0) scale(1.129)'/%3E%3Cuse stroke='%23c16c09' href='%23a' transform='rotate(17.2 0 0) scale(1.172)'/%3E%3Cuse stroke='%23b8620d' href='%23a' transform='rotate(21.5 0 0) scale(1.215)'/%3E%3Cuse stroke='%23af570f' href='%23a' transform='rotate(25.8 0 0) scale(1.258)'/%3E%3Cuse stroke='%23a54d11' href='%23a' transform='rotate(30.1 0 0) scale(1.301)'/%3E%3Cuse stroke='%239b4412' href='%23a' transform='rotate(34.4 0 0) scale(1.344)'/%3E%3Cuse stroke='%23913a13' href='%23a' transform='rotate(38.7 0 0) scale(1.387)'/%3E%3Cuse stroke='%23863113' href='%23a' transform='rotate(43 0 0) scale(1.43)'/%3E%3Cuse stroke='%237c2812' href='%23a' transform='rotate(47.3 0 0) scale(1.473)'/%3E%3Cuse stroke='%23712011' href='%23a' transform='rotate(51.6 0 0) scale(1.516)'/%3E%3Cuse stroke='%2366170f' href='%23a' transform='rotate(55.9 0 0) scale(1.559)'/%3E%3Cuse stroke='%235b0f0d' href='%23a' transform='rotate(60.2 0 0) scale(1.602)'/%3E%3Cuse stroke='%23500609' href='%23a' transform='rotate(64.5 0 0) scale(1.645)'/%3E%3Cuse stroke='%23450003' href='%23a' transform='rotate(68.8 0 0) scale(1.688)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
    background-attachment: fixed;
    background-size: cover;
}

.bg-cool-svg {
    background: url('../images/icons/cool-background.svg') !important;
}

a:hover {
    text-decoration: none;
}

.p-relative {
    position: relative;
}

.p-static {
    position: static;
}

.text-yellow {
    color: #ffdb3e !important;
}

.bg-yellow {
    background: #ffdb3e;
    color: #450003;
}

.background-light {
    background: #fafafa;
}

.theme-pagination nav {
    overflow-x: auto;
}

.max-height-300 {
    max-height: 300px;
    overflow: auto;
}

.min-height-90 {
    min-height: 90px;
}

.service-image {
    height: 120px;
    width: 120px;
    border: 1px solid #f5f5f5;
}

.cart-image {
    max-width: 100%;
    height: auto;
    max-height: 140px;
}

.no-radius,
.modal-content,
.btn {
    border-radius: 0px !important;
}

.image-details-view {
    width: 100%;
    max-height: 450px;
}

.theme-pagination .page-item.active .page-link {
    background-color: #450003 !important;
    border-color: #450003 !important;
    color: #ffffff !important;
}

.theme-pagination .page-item .page-link {
    color: #064594 !important;
}


/* Loader */

#loader {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #064594;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 9999999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.filter-loader {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    text-align: right;
    flex-direction: column;
    background: rgba(255, 255, 255, .7);
    z-index: 9;
    display: none;
}

.filter-loader.active {
    display: flex;
    transition: all ease .4s;
}

#loader .load-page {
    height: 40px;
    width: 40px;
    position: relative;
    margin-bottom: 10px;
}

#loader .load-page .loading {
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#loader .load-page .loading::after,
#loader .load-page .loading::before {
    content: '';
    border: 2px #ffffff solid;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
}

#loader .load-page .loading::before {
    animation: aj-wave 1s linear infinite;
}

#loader .load-page .loading::after {
    animation: aj-wave-i 1s linear infinite;
}

@-webkit-keyframes aj-wave {
    from {
        -webkit-transform: scale(0.5, 0.5);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1, 1);
        opacity: 1;
    }
}

@keyframes aj-wave {
    from {
        transform: scale(0.5, 0.5);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@-webkit-keyframes aj-wave-i {
    from {
        -webkit-transform: scale(1, 1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1.5, 1.5);
        opacity: 0;
    }
}

@keyframes aj-wave-i {
    from {
        -webkit-transform: scale(1, 1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1.5, 1.5);
        opacity: 0;
    }
}

#loader .tag-name {
    margin-top: 10px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}


/* Loader */


/* Header */

.main-header {
    border-bottom: 2px solid #eeeeee;
    position: sticky;
    top: 0px;
    z-index: 99999;
    box-shadow: 0 0 5px #aaaaaa;
}

.menu-toggler {
    display: none;
    color: #450003;
    cursor: pointer;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid #091633;
    text-align: center;
    transition: all ease .3s;
    font-size: 20px;
    margin-left: 10px;
}

.menu-toggler:active {
    border: 1px dotted #450003;
    transform: scale(0.95);
    box-shadow: none;
}

.menu-toggler>svg:first-child {
    display: inline;
}

.menu-toggler>svg:last-child {
    display: none;
}

.menu-toggler.active>svg:first-child {
    display: none;
}

.menu-toggler.active>svg:last-child {
    display: inline;
    font-size: 22px;
}

.main-header .logo {
    align-items: center;
    display: flex;
}

.logo-image img.logo {
    max-height: 80px;
    max-width: 100%;
}


/* Search form css  */

.search-bar {
    width: 100%;
    /* width: calc(100% - 50px); */
    height: 40px;
}

.search-bar form {
    width: 100%;
    position: relative;
    height: 100%;
}

.search-bar form input {
    width: 100%;
    height: 100%;
    border: none;
    background: #ffffff;
    padding: 0 20px;
    color: #888888;
    outline: none;
    font-size: 13px;
    box-shadow: 0 0 3px #dddddd;
}

.search-bar form input::placeholder {
    color: #aaaaaa;
}

.search-bar form button {
    width: 40px;
    height: 100%;
    border: none;
    background: transparent;
    color: #450003;
    outline: none;
    font-size: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: .5;
    border-left: 1px dotted #dddddd;
    transition: all ease-in-out .5s;
}

.search-bar form button:hover {
    color: #091633;
    opacity: .9;
}


/* //Search form css  */


/* START CSS FOR MENU */

.main-menu-outer {
    display: flex;
    width: 100%;
    align-items: center;
    position: static;
}

.main-menu-outer>div {
    width: 100%;
}

ul.main-menu {
    margin: 0;
    float: right;
    list-style: none;
    user-select: none;
}

ul.main-menu>li {
    list-style-type: none;
    display: inline-block;
    padding-right: 30px;
}

ul.main-menu>li:last-child {
    padding-right: 0px;
}

ul.main-menu li a {
    display: block;
    color: #091633;
    transition: all ease .4s;
    position: relative;
}

ul.main-menu>li>a::after {
    content: '';
    height: 2px;
    width: 0%;
    background: #450003;
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: all ease .4s;
}

ul.main-menu li a.down-menu {
    padding-right: 10px;
}

ul.main-menu li a.down-menu::before {
    content: '';
    height: 6px;
    width: 6px;
    display: block;
    position: absolute;
    right: 0px;
    transform: rotate(45deg);
    top: calc(50% - 3px);
    border-bottom: 2px solid #888888;
    border-right: 2px solid #888888;
    transition: all ease .4s;
}

ul.main-menu li a:hover.down-menu::before {
    border-bottom: 2px solid #450003;
    border-right: 2px solid #450003;
}

ul.main-menu li a.down-menu.active::before {
    top: calc(50% - 2px);
    transform: rotate(-135deg);
}

ul.main-menu li a.active::after,
ul.main-menu li a:hover::after {
    width: 100%;
}

ul.main-menu li a:hover {
    color: #450003;
}


/* drop down menu css */

ul.main-menu li a.down-menu~.dd-menu {
    position: absolute;
    width: auto;
    background: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    display: none;
    top: calc(100% + 7px);
    height: auto;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    max-width: 100%;
}

ul.main-menu li:last-child a.down-menu~.dd-menu {
    right: 0px !important;
}

ul.main-menu li a.down-menu.active~.dd-menu {
    display: block;
}

ul.main-menu li a.down-menu~.dd-menu>ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul.main-menu li a.down-menu~.dd-menu.mega-menu {
    width: 100%;
    right: 0px;
}

ul.main-menu li a.down-menu~.dd-menu.drop-down-menu {
    width: auto;
    max-width: 350px;
    right: unset;
    min-width: 200px;
}

.dd-menu ul.sub-menu {
    padding: 20px 0;
    width: 100%;
}

.dd-menu ul.sub-menu li {
    list-style: none;
}

.dd-menu ul.sub-menu li a {
    font-size: 14px;
    padding: 6px 25px;
}

.dd-menu ul.sub-menu li a:hover {
    background: #f8f9fa;
}

.dd-menu ul.sub-mega-menu {
    padding: 0px;
    list-style: none;
}

.dd-menu ul.sub-mega-menu li.heading-menu {
    font-weight: 500;
    display: block;
}

.dd-menu ul.sub-mega-menu>li.heading-menu>a {
    position: relative;
    color: #064594;
    padding-left: 15px;
}

.dd-menu ul.sub-mega-menu>li.heading-menu>a:hover {
    padding-left: 20px;
}

.dd-menu ul.sub-mega-menu>li.heading-menu>a::after {
    content: '';
    height: 6px;
    width: 6px;
    display: block;
    position: absolute;
    left: 0px;
    transform: rotate(45deg);
    top: calc(50% - 4px);
    border-top: 2px solid #064594;
    border-right: 2px solid #064594;
    transition: all ease .4s;
}

.dd-menu ul.sub-mega-menu>li.heading-menu>ul.inner-mega-menu {
    list-style: none;
    padding-left: 10px;
}

.dd-menu ul.sub-mega-menu>li.heading-menu>ul.inner-mega-menu li {
    display: block;
}

.dd-menu ul.sub-mega-menu>li.heading-menu>ul.inner-mega-menu li a {
    font-weight: 400;
    font-size: 13px;
    margin-top: 3px;
}

.dd-menu ul.sub-mega-menu>li.heading-menu>ul.inner-mega-menu li a:hover {
    color: #064594;
    padding-left: 10px;
    background: rgba(0, 0, 0, 0.01);
}

.dd-menu ul.sub-mega-menu>li.heading-menu>ul.inner-mega-menu li a::after,
.dd-menu ul.sub-menu li a::after {
    content: '';
    height: 4px;
    width: 4px;
    border-top: 1px solid red;
    position: absolute;
    left: 20px;
    top: calc(50% - 2px);
    transform: rotate(45deg);
    border-right: 1px solid #2e2e2e;
    opacity: 0;
    transition: all ease .4s;
}

.dd-menu ul.sub-mega-menu>li.heading-menu>ul.inner-mega-menu li a::after {
    left: 0px;
}

.dd-menu ul.sub-menu li a:hover {
    padding-left: 30px;
}

.dd-menu ul.sub-mega-menu>li.heading-menu>ul.inner-mega-menu li a:hover::after,
.dd-menu ul.sub-menu li a:hover::after {
    opacity: 1;
}


/* drop down menu css */


/*FINISH CSS FOR MENU*/


/* //Header */


/* top Footer */

.custom-underline,
.top-footer h5 {
    position: relative;
    padding-bottom: 5px;
}

.custom-underline::after,
.top-footer h5::after {
    content: '';
    height: 2px;
    width: 25px;
    background: #ffdb3e;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0px;
}

.in-circle-footer-icon>a {
    background: #450003;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    transition: all ease-in-out .5s;
}

.in-circle-footer-icon>a:hover {
    background: #ffdb3e;
    color: #450003 !important;
    transform: scale(1.1);
    box-shadow: 0px 3px 3px #000000, inset 0 0 5px #450003;
    border-radius: 0 8px;
}

.footer-about {
    font-weight: 300;
    color: #ccc;
    line-height: 26px;
    padding: 0 25px 0 0;
}

.footer-quick-links a {
    color: #f5e07f;
    display: block;
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
    transition: all ease-out .5s;
}

.footer-quick-links a:hover {
    padding-left: 25px;
    text-decoration: underline;
}

.footer-quick-links a::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f101";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.footer-we-accept img {
    height: 40px;
    border-radius: 3px;
    margin-right: 2px;
    cursor: pointer;
}


/* Back top top */

#backToTop {
    position: fixed;
    bottom: 40px;
    right: 20px;
    display: none;
}

#backToTop a {
    color: #eeeeee;
    background: #ffdb3e;
    opacity: .5;
    padding: 9px 14px;
    font-size: 20px;
    text-decoration: none;
    transition: all ease .4s;
}

#backToTop a:hover {
    background: #450003;
    opacity: 1;
}


/* mini bar Footer */

ul.footer {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    list-style-type: none;
}

ul.footer li {
    padding: 0 15px;
    display: inline-block;
    border-right: 1px solid #ffdb3e;
}

ul.footer li:last-child {
    border: none;
}

ul.footer li a {
    transition: all ease-in-out .5s;
}

ul.footer li a:hover {
    text-decoration: underline;
}


/*  START CSS FOR BANNER SLIDER */

.best-deals,
.banner-slider {
    position: relative;
}

.best-deals .owl-nav,
.banner-slider .owl-nav {
    position: absolute;
    height: 30px;
    left: 0;
    width: 100%;
    font-size: 30px;
    bottom: calc(50% - 15px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.best-deals .owl-nav {
    padding: 0px;
}

.best-deals .owl-dots,
.banner-slider .owl-dots {
    position: absolute;
    height: 35px;
    width: 100%;
    text-align: center;
    bottom: 0;
}

.best-deals .owl-nav button,
.banner-slider .owl-nav button {
    padding: 0;
    margin: 0;
    outline: none;
    transition: all ease .4s;
}

.best-deals .owl-nav button {
    background: rgba(0, 0, 0, 0.05) !important;
}

.best-deals .owl-nav button span,
.banner-slider .owl-nav button span {
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0px 5px;
    line-height: 25px;
    color: #450003;
    font-size: 40px;
}

.best-deals .owl-nav button.owl-prev {
    border-radius: 0 30px 30px 0;
}

.best-deals .owl-nav button.owl-next {
    border-radius: 30px 0 0 30px;
}

.best-deals .owl-nav button:hover,
.banner-slider .owl-nav button:hover {
    background: rgba(0, 0, 0, .1);
}

.best-deals .owl-nav button:hover {
    background: rgba(0, 0, 0, .2) !important;
}

.best-deals .owl-dots button.owl-dot,
.banner-slider .owl-dots button.owl-dot {
    height: 7px;
    width: 7px;
    background: linear-gradient(45deg, #450003, #091633);
    margin: 0px 4px;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: all ease .4s;
}

.best-deals .owl-dots button.owl-dot {
    height: 4px;
    width: 4px;
}

.best-deals .owl-dots button.owl-dot,
.banner-slider .owl-dots button.owl-dot:hover {
    animation: dotColor .5s linear forwards;
    transform: scale(1.5);
}

.best-deals .owl-dots button.owl-dot.active,
.banner-slider .owl-dots button.owl-dot.active {
    background: linear-gradient(45deg, #f5e07f, #450003);
    transform: scale(1.4);
}

.best-deals .deals-outer {
    height: auto;
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.05);
    max-width: 200px;
    background: #ffffff;
    transition: all ease .4s;
}

.best-deals .deals-outer:hover {
    box-shadow: 2px 2px 8px #e0e0e0;
}

.best-deals .deals-outer .product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.best-deals .deals-outer img.img {
    height: 150px;
    margin: 0px auto;
    width: auto;
    max-width: 100%;
    transition: all ease .5s;
}


/* FINISH CSS FOR BANNER SLIDER */


/* body */

.theme-block {
    background: #ffffff;
    padding: 40px 35px;
    margin-bottom: 20px;
    border: 1px solid #efefef;
}

.theme-block.parent {
    height: calc(100% - 20px);
}

.theme-block h5 {
    color: #626469;
    font-size: 20px;
}

.theme-block p {
    color: #999999;
    font-size: 14px;
}

.theme-block a {
    color: #064594;
    font-size: 14px;
}

.theme-block a:hover {
    text-decoration: underline;
}

.theme-block a svg {
    font-size: 10px;
}

.box-hover-effect {
    border-top-width: 2px;
    transition: all ease .5s;
}

.box-hover-effect:hover {
    box-shadow: 0 0 8px #ededed;
    border-top: 2px solid #450003;
    box-sizing: border-box;
}

.why-choose-us {
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-choose-us img {
    width: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.theme-block .content-outer img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    shape-outside: rounded;
    float: right;
}

.d-i-b {
    display: inline-block !important;
}

.page-heading {
    text-align: center;
    padding: 50px 0 40px 0;
    position: relative;
    font-size: 30px;
}

.page-heading::after {
    content: '';
    height: 20px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
    background: url('../images/icons/under_line.png') no-repeat center;
}

button.theme-btn,
input.theme-btn,
a.theme-btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px 9px 20px;
    color: #064594;
    border: 1px solid;
    border-color: #064594;
    transition: all ease .5s;
    position: relative;
    overflow: hidden;
}

button.theme-btn:hover,
input.theme-btn:hover,
a.theme-btn:hover {
    text-decoration: none;
    background: #450003;
    color: #eeeeee !important;
}

.flash::after {
    content: '';
    background: #f5e07f;
    height: 200%;
    width: 15px;
    display: block;
    position: absolute;
    transform: rotate(30deg);
    top: -20px;
    left: -50px;
    transition: all ease .3s;
    transition-delay: .4s;
    filter: blur(10px);
    /* mix-blend-mode: difference; */
}

.flash:hover::after {
    left: 150%;
}

.outer-heading {
    position: relative;
    padding-bottom: 5px;
}

.outer-heading::after {
    content: '';
    height: 3px;
    width: 25px;
    background: #ffdb3e;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0px;
}


/* Custom form */

.custom-form .form-group {
    position: relative;
    height: 43px;
    margin-bottom: 25px;
}

.custom-form .form-group.textarea {
    height: 135px;
}

.custom-form .form-group input,
.custom-form .form-group select,
.custom-form .form-group textarea {
    position: absolute;
    height: 100%;
    border-radius: 0;
    border: 0;
    box-shadow: inset 0 0 1px #091633;
    outline: none;
}

.custom-form .form-group label {
    position: absolute;
    color: #aaaaaa;
    top: 12px;
    left: 15px;
    transition: all ease .4s;
    z-index: 0;
}

.custom-form .form-group input:valid~label,
.custom-form .form-group select:valid~label,
.custom-form .form-group textarea:valid~label,
.custom-form .form-group input:focus~label,
.custom-form .form-group select:focus~label,
.custom-form .form-group textarea:focus~label {
    top: -19px;
    color: #064594;
    left: 0;
    padding: 0px 4px;
    background: white;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
}

.qty-adjust-btn {
    width: 200px;
    display: flex;
    user-select: none;
}

.qty-adjust-btn button {
    border: none;
    width: 25px;
    background: #ffffff;
    color: #999999;
    border: 1px solid #eeeeee;
}

.qty-adjust-btn button:active {
    background: #450003;
    color: #f5e07f;
}

.qty-adjust-btn input {
    width: 40px;
    text-align: center;
    border: 0px solid #ffdb3e;
}

.qty-adjust-btn button,
.qty-adjust-btn input {
    outline: none;
}


/* Media query 768 px */

@media only screen and (max-width: 768px) {
    .mobile-hidden {
        display: none;
    }
    .mobile-visible {
        display: inline-block;
    }
    .banner-slider .owl-dots {
        height: 25px;
    }
    .owl-carousel.banner-slider .owl-item img {
        min-height: 180px;
    }
    #backToTop {
        bottom: 15px;
        right: 10px;
    }
    #backToTop a {
        padding: 5px 10px;
    }
}


/* Media query 991 px */

@media only screen and (max-width: 991px) {
    .search-bar {
        width: calc(100% - 50px);
    }
    .menu-toggler {
        display: inline-block;
    }
    .mobile-menu {
        display: flex;
    }
    /* Redesign mobile menu ----- meni design for mobile */
    ul.main-menu>li {
        padding-right: 0px;
    }
    .main-nav-outer {
        position: fixed;
        top: 0px;
        left: -150%;
        background: rgba(255, 255, 255, .98);
        margin-top: 0px !important;
        padding-left: 0px;
        height: 100vh;
        width: 100%;
        width: calc(100% - 65px);
        max-width: 350px;
        border-right: 1px solid #dddddd;
        transition: all ease .4s;
        box-sizing: border-box;
        overflow-y: auto;
        border-top: 2px solid #091633;
    }
    .main-nav-outer.active {
        left: 0px;
    }
    ul.main-menu {
        float: none;
        padding: 0px;
    }
    ul.main-menu>li {
        display: block;
        padding-right: 0px !important;
        position: relative;
    }
    ul.main-menu>li>a {
        padding: 10px 20px;
    }
    ul.main-menu>li>a.down-menu::before {
        right: 20px;
    }
    ul.main-menu>li>a:hover::after {
        width: 0%;
        top: calc(50% - 7px);
    }
    ul.main-menu>li>a.active::after {
        width: 15px;
        height: 15px;
        background: #f5e07f;
        top: calc(50% - 7px);
        transform: rotate(45deg);
        left: -7px;
    }
    ul.main-menu>li>a:hover {
        background: rgba(0, 0, 0, .1);
    }
    ul.main-menu>li>a.active {
        background: #450003;
        color: #ffdb3e;
    }
    ul.main-menu>li>a.active.down-menu::before {
        border-bottom: 2px solid #ffdb3e;
        border-right: 2px solid #ffdb3e;
    }
    ul.main-menu li a.down-menu~.dd-menu {
        position: static;
        width: 100%;
        background: rgba(0, 0, 0, .1);
        display: none;
        top: calc(100% + 7px);
        height: auto;
        max-height: 60vh;
        overflow-y: auto;
        max-width: 100%;
    }
    .dd-menu ul.sub-menu {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .mobile-left-button {
        text-align: left !important;
    }
    .dd-menu ul.sub-menu li a {
        position: relative;
    }
    .dd-menu ul.sub-menu li a:hover {
        padding-left: 35px;
    }
    .dd-menu ul.sub-mega-menu>li.heading-menu {
        display: block;
        width: 100% !important;
        flex: none;
        max-width: unset;
    }
}

@media only screen and (max-width: 1200px) {
    ul.main-menu>li {
        padding-right: 20px;
    }
}